DirectoryIndex index.php
RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond $1 !^(index\.php|(.*)\.swf|forums|images|css|downloads|jquery|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]


<IfModule mod_expires.c>
  #ExpiresActive On

  # Images
  #ExpiresByType image/jpeg "access plus 1 year"
  #ExpiresByType image/gif "access plus 1 year"
  #ExpiresByType image/png "access plus 1 year"
  #ExpiresByType image/webp "access plus 1 year"
  #ExpiresByType image/svg+xml "access plus 1 year"
  #ExpiresByType image/x-icon "access plus 1 year"

  # Video
  #ExpiresByType video/webm "access plus 1 year"
  #ExpiresByType video/mp4 "access plus 1 year"
  #ExpiresByType video/mpeg "access plus 1 year"

  # Fonts
  #ExpiresByType font/ttf "access plus 1 year"
  #ExpiresByType font/otf "access plus 1 year"
  #ExpiresByType font/woff "access plus 1 year"
  #ExpiresByType font/woff2 "access plus 1 year"
  #ExpiresByType application/font-woff "access plus 1 year"

  # CSS, JavaScript
  #ExpiresByType text/css "access plus 1 month"
  #ExpiresByType text/javascript "access plus 1 month"
  #ExpiresByType application/javascript "access plus 1 month"

  # Others
  #ExpiresByType application/pdf "access plus 1 month"
  #ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>

#<IfModule mod_headers.c>
#	Header unset ETag
#	Header unset Cookie
#	Header unset Set-Cookie
#</IfModule>
#
#<IfModule mod_expires.c>
#	#ExpiresActive on
#</IfModule>
#
#<FilesMatch "\.(ico|jpg|jpeg|jpe|png|gif)$">
#	#ExpiresDefault "access plus 2 years"
#</FilesMatch>
